REGION=<your AWS region>
S3_BUCKET_NAME=<your S3 bucket name>
AWS_ACCOUNT=<your AWS account ID>
MLFLOW_SERVER_NAME=<mlflow tracking server name/arn>
BEDROCK_AGENT_ID=<your Bedrock supervisoragent ID>
USER_FEEDBACK_TABLE_NAME=<your user feedback table name>
TRACE_TABLE_NAME=<your trace table name>